$primary-color: #333333;
$input-width: 80px;
$badge-width: 80px;

// Farben
$color-amber: #f59e0b;
$color-red: #dc2626;
$color-sky: #0ea5e9;

.systeme-page {
  margin: 50px;
  font-size: 18px;

  .back-button {
    margin-top: 20px;
    border: 2px solid $color-amber;
    background-color: white;
    color: $primary-color;
  }
}

.heading {
  margin: 0px;
  font-size: 24px;
}

/* Container für Angebote */
.offers-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}


/* Einzelnes Angebot als Zeile */
.offer {
  display: flex;
  
  align-items: center;
  width: 100%;
  
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
  background: #f8f9fa;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-3px);
  }
}

/* Bildgröße in der Zeilenansicht */
.offer-image {
  width: 120px;
  height: auto;
  margin-right: 20px;
  object-fit: cover;
}

/* Details des Angebots */
.offer-details {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap; /* Falls Platz eng wird */
}

/* Art des Angebots */
.offer-type-info {
  font-size: 0.95rem;
  color: #6c757d;
}

/* Lieferzeit */
.offer-delivery {
  font-size: 1rem;
  font-weight: bold;
  color: #2a2a2a;
  background-color: #eef5ff;
  border: 1px solid #cce0ff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

/* Preis-Anzeige */
.offer-price {
  font-size: 1rem;
  color: #343a40;
  font-weight: bold;

  .price {
    font-size: 1.2rem;
    color: #414141;
  }
}

/* Badge für die Empfehlung */
.use-case-badge {
  display: inline-block;
  padding: 5px 10px;
  font-size: 0.85rem;
  font-weight: 600;
  border-radius: 4px;
  color: #fff;
}

/* Farben für verschiedene Nutzungsarten */
.use-case-privat {
  background-color: #51c4d3;
  color: #fff;
}

.use-case-gewerblich {
  background-color: #f9a825;
  color: #222;
}

.use-case-privat\ \&\ gewerblich {
  background-color: #7e57c2;
  color: #fff;
}

/* Feature-Liste */
.offer-features {
  list-style-type: disc;
  color: #2e2e2e;
  padding-left: 1.5rem;
  margin: 5px 0;

  li {
    font-size: 0.9rem;
    margin-bottom: 4px;
  }

  i {
    color: #28a745;
    margin-right: 8px;
  }
}

/* Button für Auswahl */
.select-system-button {
  align-self: flex-start;
  background-color: $color-amber;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s;

  &:hover {
    background-color: darken($color-amber, 10%);
  }
}
